.photo-details-container {
  text-align: center;
  padding: 20px;
}

.photo-fullsize {
  max-width: 80%; 
  max-height: 500px; 
  height: auto; 
  margin-bottom: 20px;
  border-radius:15px;
}
/* PhotoDetailsPage.css */

.back-button {
  padding: 10px 20px;
  background-color: #31b1c2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}
